 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    background: url('./img/coffee-hero-bg.jpg');
    background-position: center;
    background-size: cover;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 20px;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}


.navbar .logo {
    font-size: 2.1rem;
    font-weight: 600;
}

.navbar .logo span {
    color: #C06B3E;
}

.navbar .menu-links {
    display: flex;
    gap: 40px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: .2s ease;
}

.navbar a:hover {
    color: #C06B3E;   
}